/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.card {
    height: 321px;
    width: 220px;
    background: #fff;
    margin-top: 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.05), 0 24px 36px rgba(188, 210, 255, 0.4);
}

.circle {
    position: absolute;
    text-align: center;
    background-color: #BCD2FF;
    text-shadow: 4px 4px 6px rgba(19, 60, 85, 0.5);
    color: white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    line-height: 100%;
    font-size: 50px;
    align-items: center;
    justify-content: center;

}

.card a {
    width: 125px;
    color: white!important;
}

.oPrimary {
    background-color: #6ea8ff;
    background-image: linear-gradient(#6ea8ff, #4375bf);
}
.oPrimary:hover {
    background-color: #5e9fff;
    background-image: linear-gradient(#5e9fff, #2561ba);
}
.oDelete {
    color: white;
    background-color: #ff7a6e;
    background-image: linear-gradient(#ff7a6e, #d4453d);
}
.oDelete:hover {
    background-color: #fc6b5d;
    background-image: linear-gradient(#fc6b5d, #c72b22)
}
.oButton:hover {
    cursor:pointer;
}
.oButton {
    width: 25%;
    background-color: grey;
    color: white!important;
    border-radius: 2px;
    border: 0px;
    padding: 8px;
    font-size: 13.33px;
    display: block;
}

.w100 {
    width: 100%!important;
}
a.oButton {
    color: white;
    text-decoration: none;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: grey;
    color: white;
    border-radius: 2px;
    border: 0px;
    padding: 8px;
    font-size: 13.33px;
    color: white;
    background-color: #6ea8ff;
    background-image: linear-gradient(#6ea8ff, #4375bf);
}

.chart-card {
    text-align: center;
    background-color: white;
    padding: 5px;
    height: 100%;
    -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.10);
}
.chart-card h1 {
    text-align: left;
}
.buttonCard {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    height: 100%;
    border-radius: 5px;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.green {
    background-color: #1cc88a;
}
.red {
    background-color: #eb4034;
}
.green:hover {
    background-color: #139e6c;
}
.red:hover {
    background-color: #99170e;
}
.small {
    text-align: center;
    margin-left: 25%;
    height: 50% !important;
    width: 50% !important;
}
.card-body {
    height: 120%;
}
.groupChartCol {
    margin-top: 0%!important;
    margin-bottom: 6%!important;
}
.clickable:hover {
    cursor: pointer;
}
.grow:hover {
    /*color: #b8bbcf;*/
    transform: scale(1.05);
    transform: rotateY(90);
}
.grow {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.shadow::after {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    border-radius: 2%;
    box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.50);
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.shadow:hover::after {
    opacity: 1;
}
.innerPieChartText {
    font-size: 25px !important;
    color: red;
    margin-left: 0;
    position: absolute;
    margin-top: -20%;
    display: none;
}
#opleiding-aanvragen {
    margin-top: -3%;
}
.opleiding-aanvragen_row {
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-left: 2px solid #ff5e5e;
    line-height: normal;
    margin-top: 2%;
    margin-left: 10%;
    background-color: #f5f5f5;
}
.opleiding-aanvragen_row:hover {
    background-color: #d6d6d6;
}
.opleiding-aanvragen_row:hover p {
    animation-name: scale-text;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes scale-text {
    to {
        transform: scale(1.01);
    }
}
.opleiding-aanvragen_row p {
    margin: 2% 250px 2% 20px;
    text-align: left;
}
.opleiding-aanvragen_row span.name {
    font-weight: bold;
}
.opleiding-aanvragen_row span.name::after {
    content: ": ";
}
span.opleiding-aanvragen_aanvraag-datum, span.opleiding-aanvragen_aanvraag-status {
    position: absolute;
    font-size: 12px;
    right: 2px;
    float: right!important;
}

.opleiding-aanvragen_card-content .opleiding-aanvragen_aanvraag-datum {
    position: absolute;
    font-size: 12px;
    right: 2px;
    margin-top: -4%;
    float: right!important;
}
.opleiding-aanvragen_card-content .opleiding-aanvragen_aanvraag-status {
    position: absolute;
    font-size: 12px;
    right: 2px;
    margin-top: -2%;
    float: right !important;
}
.opleiding-aanvragen_card-content {
    height: auto;
    position: relative;
    width: 100%;
}
.opleiding-aanvragen_row a {
    color: inherit;
    width: 100%;
    text-decoration: none;
}
.opleiding-aanvragen_row a:hover{
    text-decoration: none;
    color: inherit;
}


#nextPageButton, #previousPageButton {
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-top: 5%;
    /*margin-right: -5%;*/
    /*margin-left: 60%;*/
    position: absolute;
    font-size: 50px;
}
#nextPageButton {
    right: -100px;
}
#previousPageButton {
    display: none;
    left: -100px;
}
#previousPage {
    width: 100%;
    margin-top: -2%;
}
#nextPage {
    margin-top: -2%;
}
#nextPageButton:hover, #previousPageButton:hover i{
    color: #b8bbcf;
    cursor: pointer;
    transform: scale(1.25);
}
#nextPage:hover #snel-bekijken  {
    margin-left: 10%;
}
#previousPageButton:hover .unselected  {
    background-color: red;
    margin-left: -110%;
}
#snel-invoeren {
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#snel-bekijken {
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-top: 0;
    margin-left: 15%;
    position: absolute;
}
#snelActies a {
    text-decoration: none;
}
#snelActies a:hover {
    text-decoration: none;
}
/*snel bekijken/ snelinvoeren divs*/
.selected {
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-left: -100% !important;
    position: relative;
}
/*snel bekijken/ snelinvoeren divs*/
.unselected {
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-left: -115%;
    position: absolute;
}
#submitButtonSnelToevoegenModal {
    color: white!important;
}
#actieTitel.toevoegModal {
    margin-top: 2%;
}
#inputSection.toevoegModal h3 {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 2%;
}
#inputSection.toevoegModal span {
    float: left;
    margin-left: 10%;
}
#inputSection.toevoegModal input, #inputSection.toevoegModal select {
    display: block;
    background-color: #f7f7f7;
    font-size: 13px;
    width: 50%;
    box-sizing: border-box;
    padding: 8px;
    margin-left: 40%;
    margin-bottom: 5%;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #6ea8ff;
}
.groupPieChartCanvas {
    margin-top: 5%;
    margin-bottom: -5%;
}


@media screen and (max-width: 600px) {
    .buttonCard {
        font-size: 16px;             
    }
    .opleiding-aanvragen_card-content {
        height: auto;
    }
    h1 {
        font-size: 2rem!important;
    }
    .container, .container-fluid {
        padding-left: 0.75rem!important;
        padding-right: 0.75rem!important;
    }
    .card-body { 
        height: 100%;
    }
    .opleiding-aanvragen_row {
        margin-top: 6%!important;
    }
    .opleiding-aanvragen_row p {
        white-space: normal;
        text-align: left;
        margin: 1% 15px 1% 6px;
    }
    .opleiding-aanvragen_aanvraag-datum {
        margin-top: -12%!important;
        font-size: 10px;
    }
    .opleiding-aanvragen_aanvraag-status {
        margin-top: -3%!important;
        font-size: 10px;
    }
    .row.opleiding-aanvragen_row.clickable {
        padding: 13px 0px;
        white-space: normal;
        height: 75%;
    }
    .aanvraagDetails {
        float: unset!important;
        margin-bottom: 13%;
    }
}